In [3]:
import pandas as pd
df_raw = pd.read_excel('cluster_남여_고교유형_지역.xlsx', sheet_name = 1)
df_고교지역 = pd.read_excel('11data_고교지역.xlsx', sheet_name = 0)

df_merge = pd.merge(df_raw, df_고교지역, left_on='가번호', right_on='가번호', how='inner')

In [4]:
df_merge

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2,고교지역
0,0,20154003,group5,인문1,KU자기추천,3.96,여,문과대학,국어국문학과,2015,...,53.0,3.0,3.0,4.0,사탐,세계 지리,5.0,법과 정치,5.0,서울
1,1,20154007,group2,인문1,KU논술우수자,3.16,여,문과대학,국어국문학과,2015,...,59.0,2.0,5.0,2.0,사탐,생활과 윤리,3.0,윤리와 사상,4.0,경기
2,2,20154015,group3,인문1,수능,3.30,여,문과대학,국어국문학과,2013,...,62.0,2.0,2.0,2.0,사탐,법과 정치,3.0,사회·문화,3.0,전남
3,3,20154016,group5,인문1,수능,3.93,여,문과대학,국어국문학과,2012,...,61.0,1.0,2.0,3.0,사탐,생활과 윤리,4.0,윤리와 사상,3.0,강원
4,4,20154018,group2,인문1,KU논술우수자,3.37,여,문과대학,국어국문학과,2015,...,60.0,2.0,2.0,4.0,사탐,생활과 윤리,2.0,윤리와 사상,3.0,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1726,1726,20167293,group2,인문1,기타,3.61,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1727,1727,20167294,group1,인문1,기타,2.76,남,글로벌융합대학,신산업융합학과,2005,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1728,1728,20167295,group2,인문1,기타,3.27,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1729,1729,20167296,group4,인문1,기타,3.45,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1730,1730,20167297,group5,인문1,기타,3.83,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울

In [6]:
df_지역 = df_merge.groupby('고교지역').size()
df_지역

고교지역
강원     36
경기    493
경남     44
경북     29
광주     37
기타     30
대구     37
대전     40
부산     50
서울    656
세종      2
울산     33
인천     80
전남     29
전북     34
제주     21
충남     49
충북     31
dtype: int64

In [14]:
df_서울 = df_merge['고교지역'] == '서울'
df_경기 = df_merge['고교지역'] == '경기'

df_서울제외 = df_merge[~df_서울]
df_지방 = df_서울제외[~df_경기]
df_지방

<ipython-input-14-ec5f339fad73>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_지방 = df_서울제외[~df_경기]

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2,고교지역
2,2,20154015,group3,인문1,수능,3.30,여,문과대학,국어국문학과,2013,...,62.0,2.0,2.0,2.0,사탐,법과 정치,3.0,사회·문화,3.0,전남
3,3,20154016,group5,인문1,수능,3.93,여,문과대학,국어국문학과,2012,...,61.0,1.0,2.0,3.0,사탐,생활과 윤리,4.0,윤리와 사상,3.0,강원
5,5,20154020,group4,인문1,수능,3.63,여,문과대학,국어국문학과,2015,...,57.0,1.0,2.0,2.0,사탐,생활과 윤리,4.0,사회·문화,4.0,광주
6,6,20154025,group4,인문1,KU자기추천,3.57,여,문과대학,국어국문학과,2015,...,62.0,2.0,4.0,5.0,사탐,한국 지리,3.0,동아시아사,2.0,대전
7,7,20154026,group5,인문1,수능,3.86,여,문과대학,국어국문학과,2015,...,58.0,2.0,3.0,2.0,사탐,윤리와 사상,3.0,세계사,4.0,광주
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680,1680,20167237,group5,인문1,기타,4.27,여,글로벌융합대학,신산업융합학과,2008,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,광주
1681,1681,20167239,group2,인문1,기타,3.43,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,인천
1690,1690,20167251,group5,인문1,기타,3.99,여,글로벌융합대학,신산업융합학과,2011,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,전북
1717,1717,20167284,group4,인문1,기타,3.60,여,글로벌융합대학,신산업융합학과,2012,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,충남
1721,1721,20167288,group1,인문1,기타,2.61,남,글로벌융합대학,신산업융합학과,2011,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,대구

In [18]:
df_수도권 = df_merge[df_서울 | df_경기] 
df_수도권

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2,고교지역
0,0,20154003,group5,인문1,KU자기추천,3.96,여,문과대학,국어국문학과,2015,...,53.0,3.0,3.0,4.0,사탐,세계 지리,5.0,법과 정치,5.0,서울
1,1,20154007,group2,인문1,KU논술우수자,3.16,여,문과대학,국어국문학과,2015,...,59.0,2.0,5.0,2.0,사탐,생활과 윤리,3.0,윤리와 사상,4.0,경기
4,4,20154018,group2,인문1,KU논술우수자,3.37,여,문과대학,국어국문학과,2015,...,60.0,2.0,2.0,4.0,사탐,생활과 윤리,2.0,윤리와 사상,3.0,서울
9,9,20154030,group4,인문1,KU논술우수자,3.39,여,문과대학,국어국문학과,2014,...,63.0,2.0,2.0,3.0,사탐,생활과 윤리,2.0,사회·문화,2.0,경기
11,11,20154034,group5,인문1,KU교과우수자,4.25,여,문과대학,국어국문학과,2015,...,63.0,3.0,4.0,2.0,사탐,세계사,1.0,법과 정치,2.0,경기
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1726,1726,20167293,group2,인문1,기타,3.61,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1727,1727,20167294,group1,인문1,기타,2.76,남,글로벌융합대학,신산업융합학과,2005,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1728,1728,20167295,group2,인문1,기타,3.27,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1729,1729,20167296,group4,인문1,기타,3.45,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1730,1730,20167297,group5,인문1,기타,3.83,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울

In [19]:
df_지방_group = df_지방.groupby('category').size()
df_지방_group

category
group1     75
group2     97
group3    109
group4    184
group5    117
dtype: int64

In [20]:
df_수도권_group = df_수도권.groupby('category').size()
df_수도권_group

category
group1    121
group2    213
group3    194
group4    353
group5    268
dtype: int64

In [22]:
df_여 = df_merge[df_merge['성별'] == '여']
df_남 = df_merge[df_merge['성별'] == '남']

In [24]:
df_여_group = df_여.groupby('category').size()
df_여_group

category
group1    110
group2    220
group3    242
group4    456
group5    332
dtype: int64

In [25]:
df_남_group = df_남.groupby('category').size()
df_남_group

category
group1    86
group2    90
group3    61
group4    81
group5    53
dtype: int64

In [26]:
df_일반고 = df_merge['고교유형'] == '일반계고'
df_경기 = df_merge['고교지역'] == '경기'

df_일반계고 = df_merge[df_일반고]

In [27]:
df_일반계고

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2,고교지역
3,3,20154016,group5,인문1,수능,3.93,여,문과대학,국어국문학과,2012,...,61.0,1.0,2.0,3.0,사탐,생활과 윤리,4.0,윤리와 사상,3.0,강원
4,4,20154018,group2,인문1,KU논술우수자,3.37,여,문과대학,국어국문학과,2015,...,60.0,2.0,2.0,4.0,사탐,생활과 윤리,2.0,윤리와 사상,3.0,서울
5,5,20154020,group4,인문1,수능,3.63,여,문과대학,국어국문학과,2015,...,57.0,1.0,2.0,2.0,사탐,생활과 윤리,4.0,사회·문화,4.0,광주
6,6,20154025,group4,인문1,KU자기추천,3.57,여,문과대학,국어국문학과,2015,...,62.0,2.0,4.0,5.0,사탐,한국 지리,3.0,동아시아사,2.0,대전
7,7,20154026,group5,인문1,수능,3.86,여,문과대학,국어국문학과,2015,...,58.0,2.0,3.0,2.0,사탐,윤리와 사상,3.0,세계사,4.0,광주
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1671,1671,20167183,group2,인문1,KU자기추천,3.35,여,글로벌융합대학,융합인재학부(과학인재전공),2016,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,인천
1672,1672,20167194,group5,인문1,KU자기추천,3.87,여,글로벌융합대학,융합인재학부(과학인재전공),2016,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기
1673,1673,20167213,group5,인문1,KU논술우수자,3.92,여,글로벌융합대학,글로벌비즈니스학부,2015,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,경기
1674,1674,20167229,group4,인문1,KU교과우수자,3.74,여,글로벌융합대학,글로벌비즈니스학부,2016,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1697,1697,20167259,group2,인문1,기타,3.30,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울

In [28]:
df_일반고외 = df_merge[~df_일반고]
df_일반고외

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2,고교지역
0,0,20154003,group5,인문1,KU자기추천,3.96,여,문과대학,국어국문학과,2015,...,53.0,3.0,3.0,4.0,사탐,세계 지리,5.0,법과 정치,5.0,서울
1,1,20154007,group2,인문1,KU논술우수자,3.16,여,문과대학,국어국문학과,2015,...,59.0,2.0,5.0,2.0,사탐,생활과 윤리,3.0,윤리와 사상,4.0,경기
2,2,20154015,group3,인문1,수능,3.30,여,문과대학,국어국문학과,2013,...,62.0,2.0,2.0,2.0,사탐,법과 정치,3.0,사회·문화,3.0,전남
17,17,20154040,group4,인문1,수능,3.73,여,문과대학,국어국문학과,2015,...,60.0,2.0,1.0,2.0,사탐,한국사,5.0,사회·문화,3.0,인천
24,24,20154051,group3,인문1,기타,2.93,남,문과대학,국어국문학과,2015,...,40.0,3.0,4.0,6.0,사탐,윤리와 사상,6.0,법과 정치,7.0,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1726,1726,20167293,group2,인문1,기타,3.61,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1727,1727,20167294,group1,인문1,기타,2.76,남,글로벌융합대학,신산업융합학과,2005,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1728,1728,20167295,group2,인문1,기타,3.27,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1729,1729,20167296,group4,인문1,기타,3.45,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울
1730,1730,20167297,group5,인문1,기타,3.83,여,글로벌융합대학,신산업융합학과,2013,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,서울

In [29]:
df_일반계고_group = df_일반계고.groupby('category').size()
df_일반계고_group

category
group1    123
group2    211
group3    230
group4    418
group5    262
dtype: int64

In [30]:
df_일반고외_group = df_일반고외.groupby('category').size()
df_일반고외_group

category
group1     73
group2     99
group3     73
group4    119
group5    123
dtype: int64